:is(p, h1) {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: plum;
    margin-top: 60px;
}

.EntryPage {
    height: 400px;
    background-color: aquamarine;
}

body {
    width: 80%;
    margin-left: 10%;
}