/* For the header bar */

#HeaderBack {
    position: fixed;
    display: block;
    z-index: 10;
    background-color: white;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0;
}

.FlexHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    height: 50px
}

.navItem {
    height: 20px;
}

.HeaderShadow {
    height: 100%;
    box-shadow: 1px 2px 18px #211b0a20;
}

.FlexHeader a:hover,
.dropdown .dropButt,
.dropdown:hover {
    background-color: rgb(230, 230, 230);
}

.dropdown {
    overflow: hidden;
    text-align: center;
    flex-grow: 1;
}

.dropdown .dropButt {
    padding: 0;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-weight: bold;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropItem {
    font-weight: normal;
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropItem:hover {
    background-color: rgb(230, 230, 230);
}

.dropdown:hover .dropdownContent {
    display: block;
}