/* disabling the default paddings */


/* using a 650px breakpoint and using auto scaling stuff in between the two views */


/* Breakpoints, normal screen then small screen anything inbetween is handled by percantages */

@media only screen and (min-width: 650px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #a793b550;
    }
    /* settings for most of the text */
     :is(h1, h2, h3, h4, p, a, button, label, switch, pre) {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        line-height: 20px;
    }
    a {
        font-weight: bold;
        font-size: 18px;
        flex-grow: 1;
        color: black;
        text-align: center;
        text-decoration: none;
        padding: 15px 50px;
    }
    button {
        border: none;
        font-size: 18px;
        background-color: #CEB7DE40;
        /* Purple Inactive */
        border-radius: 34px;
        color: black;
        cursor: pointer;
        margin: 15px 1%;
        padding: 15px 50px;
    }
    button:hover {
        background-color: #CEB7DE60;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 28px;
        margin: 0;
    }
    h3 {
        font-size: 22px;
        margin-top: 5px;
    }
    h4 {
        font-size: 22px;
        font-weight: bold;
    }
    /* Hide default HTML checkbox */
    .switch input {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    /* the search button before it's clicked */
    .SearchButton {
        background-color: #CEB7DE40;
        /* Purple Inactive */
        border: none;
        border-radius: 34px;
        color: black;
        cursor: pointer;
        width: 98%;
        font-size: 32px;
        margin: 15px 1%;
        padding: 15px 50px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        transition: height 0.4s ease;
    }
    .SearchButton:hover {
        background-color: #CEB7DE60;
        color: black;
    }
    .EmptySearch {
        background-color: #CEB7DE40;
        /* Purple Inactive */
        border: none;
        border-radius: 34px;
        color: black;
        width: 98%;
        font-size: 32px;
        margin: 15px 1%;
        padding: 15px 50px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        transition: height 0.4s ease;
    }
    /* making sure the body doesnt fall under the header*/
    #appBod {
        padding-top: 60px;
        height: fit-content;
        background-color: white;
        padding-bottom: 20px;
    }
    /* getting that column look on pages */
    .MainLayout {
        margin-left: 10%;
        margin-right: 10%;
    }
    /* the footer will put some links copyright / fancy stuff in here */
    #botStuff {
        width: 100%;
        height: 200px;
    }
    /* garden stuff */
    #GardenFlex {
        margin-left: -4%;
        border-left: -8%;
        border-right: -8%;
        display: flex;
        width: 108%;
        height: 100%;
        justify-content: space-between;
    }
    #PlanBod {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }
    .JournalDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
}


/* small screen */

@media only screen and (max-width: 650px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #a793b550;
    }
    /* settings for most of the text */
     :is(h1, h2, h3, h4, p, a, button, label, switch, pre) {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        line-height: 18px;
    }
    button {
        font-size: 12px;
    }
    a {
        font-size: 12px;
        font-weight: bold;
        flex-grow: 1;
        color: black;
        text-align: center;
        text-decoration: none;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
        margin: 0;
    }
    h3 {
        font-size: 20px;
        margin-top: 5px;
    }
    h4 {
        font-size: 20px;
        font-weight: bold;
    }
    /* Hide default HTML checkbox */
    .switch input {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    /* the search button before it's clicked */
    .SearchButton {
        background-color: #CEB7DE40;
        /* Purple Inactive */
        border: none;
        border-radius: 34px;
        color: black;
        cursor: pointer;
        width: 98%;
        font-size: 32px;
        margin: 15px 1%;
        padding: 15px 50px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        transition: height 0.4s ease;
    }
    .SearchButton:hover {
        background-color: #CEB7DE60;
        color: black;
    }
    .EmptySearch {
        background-color: #CEB7DE40;
        /* Purple Inactive */
        border: none;
        border-radius: 34px;
        color: black;
        width: 98%;
        font-size: 32px;
        margin: 15px 1%;
        padding: 15px 50px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        transition: height 0.4s ease;
    }
    /* making sure the body doesnt fall under the header*/
    #appBod {
        padding-top: 60px;
        height: fit-content;
        background-color: white;
        padding-bottom: 20px;
    }
    /* getting that column look on pages */
    .MainLayout {
        margin-left: 2%;
        margin-right: 2%;
    }
    /* the footer will put some links copyright / fancy stuff in here */
    #botStuff {
        width: 100%;
        height: 200px;
    }
    /* garden stuff */
    #GardenFlex {
        margin-left: -1%;
        border-left: -2%;
        border-right: -2%;
        display: flex;
        width: 102%;
        height: 100%;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    #PlanBod {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }
    .JournalDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
}