body {
    margin: 0;
    padding: 0
}

:is(h1, h2, p, a, button, label, switch) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}


/* slider button hybrid */


/* The switch - the box around the slider */

.switch {
    position: static;
    display: inline-block;
    width: 100%;
    height: 60px;
    border-radius: 0px;
}


/* Hide default HTML checkbox */

.switch input {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 9999px;
}


/* The slider for social and my garden*/


/*  End slider for my garden and social*/

.SearchButton {
    background-color: #CEB7DE40;
    /* Purple Inactive */
    border: none;
    border-radius: 34px;
    color: black;
    cursor: pointer;
    width: 98%;
    left: 1%;
    font-size: 32px;
    margin: 15px 1%;
    padding: 15px 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
}

.SearchButton:hover {
    background-color: #CEB7DE60;
    color: black;
}

.ForumBox {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 42px;
}

.ForumBoxSwitch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0px 1%;
}

.ForumBoxSwitch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    left: 9999px;
}

.ToggleButton {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 34px;
    font-size: 22px;
    text-align: center;
    user-select: none;
    background-color: #CEB7DE40;
    color: black;
}

input:checked+.ToggleButton {
    background-color: #CEB7DE;
    color: black;
}


/* For the header bar */

#HeaderBack {
    position: fixed;
    display: block;
    z-index: 10;
    background-color: white;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0;
}

.FlexHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FlexHeader>a {
    font-size: 18px;
}

.HeaderShadow {
    height: 100%;
    box-shadow: 1px 2px 18px #211b0a20;
}

#appBod {
    margin-top: 50px;
}

.MainLayout {
    margin-left: 10%;
    margin-right: 10%;
}