/*  End slider for my garden and social*/

.SearchBox {
    background-color: #CEB7DE40;
    /* Purple Inactive */
    border: none;
    border-radius: 34px;
    color: black;
    cursor: pointer;
    width: 98%;
    font-size: 32px;
    margin: 15px 1%;
    padding: 15px 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
}